.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #0a9396;
  border: 1px solid #0a9396;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #005f73;
  border-color: #005f73;
}
